body {
  color: #5bc0de;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
  height: 60vh;
}

.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 2em;
  font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

.jumbotron p {
  font-size: 1em;
}

/*map*/
#googleMap {
  width: 95%;
  height: 40vh;
  margin: 10px auto;
}

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 7px;
  padding: 8px;
}
.col-xs-offset-2 {
  text-align: center;
}
.col-xs-2 {
  margin-right: 25px;
  width: 50px;
  text-align: center;
}
.form-control {
  width: 650px;
  height: 30px;
  border-radius: 5px;
  font-size: 23px;
  border: 2px solid rgb(6, 109, 177);
}
